{% extends 'blog/base.html' %} 
{% load static %} 
{% block title %}About{%endblock title %} 
{% block content %}

<div class="col-sm-10">
  <h3 class="text-white my-5">About Page</h3>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae
    molestias delectus quis fuga minima voluptate maxime, omnis, perferendis
    distinctio nobis deserunt aut tempore et iste provident accusamus quidem
    eaque placeat?
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis blanditiis est aliquam? Repudiandae, illo tenetur alias accusantium molestias placeat beatae suscipit dolores vel aliquam, obcaecati illum fugit quaerat est eum doloribus cum rerum labore maxime quos quo, perferendis ipsam porro ut. Animi quisquam autem at molestiae accusamus reiciendis facilis iste.</p>
</div>

{% endblock content %}
